/*
  ========================================
  CSS Reset
  ========================================
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100%;
}

.flex {
  display: flex;
}

/*
  ========================================
  Navbar
  ========================================
*/
nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
}

nav img {
  background: #f42 linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 16px 20px;
  height: 48px;
  width: 106px;
  float: left;
}

.nav-icons {
  float: right;
}

.nav-icons .fa-search {
  padding: 16px;
  color: rgb(189, 189, 189);
  border-left: 0.5px solid rgb(236, 236, 236);
  border-right: 0.5px solid rgb(236, 236, 236);
}

.nav-icons .fa-bars {
  padding: 16px;
  margin-right: 5px;
  color: rgb(255, 68, 35);
}

nav h4 {
  width: 100%;
  clear: both;
  background-color: rgb(255, 221, 68);
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
  padding: 1.4rem;
}

/*
  ========================================
  Main
  ========================================
*/

.main-section {
  height: 30%;
  padding-top: 80px;
}

.gray-gradient {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05) url(./images/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.content-main-article {
  padding-left: 2%;
  position: absolute;
  bottom: 12px;
  z-index: 3;
}

.main-article {
  width: 97%;
  height: 0;
  margin: 0 auto 0.8em;
  padding-bottom: 30%;
  color: #fff;
  font-weight: 700;
  position: relative;
}

.main-article p {
  font-weight: 400;
  font-size: 14px;
}

.author {
  font-weight: 100;
  color: #fff9;
  font-size: 12px;
}

.article1 {
  background: url(images/article1.png) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.article2 {
  background: url(images/article2.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.article3 {
  background: url(images/article3.png) no-repeat;
  background-size: cover;
  background-position: 50%;
}

/*
  ========================================
  Latest-News
  ========================================
*/

.latest {
  margin: 1rem auto;
  width: 95%;
}

.latest * {
  font-size: 28px;
  font-weight: 700;
  color: #f00;
  text-decoration: none;
}

.latest-articles {
  margin: 1rem auto;
  width: 95%;
}

.latest i {
  vertical-align: bottom;
}

.news-images {
  height: 75px;
  min-width: 75px;
  background-size: cover;
  background-position: 50%;
}

.latest-text {
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  gap: 1em;
  margin-left: 4%;
}

.latest-text p:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
  color: #555;
}

.img1 {
  background: url(images/img1.png) no-repeat;
}

.img2 {
  background: url(images/img2.jpeg) no-repeat;
}

.img3 {
  background: url(images/img3.jpeg) no-repeat;
}

.img4 {
  background: url(images/img4.jpg) no-repeat;
}

.img5 {
  background: url(images/img5.png) no-repeat;
}

.img6 {
  background: url(images/img6.png) no-repeat;
}

.img7 {
  background: url(images/img7.png) no-repeat;
}

.img8 {
  background: url(images/img8.jpg) no-repeat;
}

/*
  ========================================
  Fund section
  ========================================
*/

.fund * {
  font-size: 28px;
  font-weight: 700;
  color: #f00;
  text-decoration: none;
  list-style-type: none;
}

.fund {
  width: 95%;
  margin: 0.8rem auto
}

.fund i {
  vertical-align: bottom;
}

.fund-links a {
  font-weight: 400;
  font-size: 14px;
}

.fund-art {
  width: 95%;
  margin: 0.8rem auto;
}

.fund-head {
  position: relative;
}

.fund-head img {
  width: 60px;
  height: 60px;
  margin: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.fund-head h4 {
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem 1rem 0.7rem 6rem;
  background-color: rgb(255, 68, 35);
}

.fund-text {
  padding: 0.7rem 1rem 0.7rem 6rem;
  background-color: rgb(255, 236, 232);
  font-weight: 600;
  font-size: 1.1rem;
}

.fund-head p:nth-child(2) {
  color: #8b807e;
  font-size: 0.8rem;
  font-weight: 100;
}

.fund-center {
  background-color: rgb(255, 250, 248);
  padding: 1rem;
}

.fund-center a {
  display: block;
  font-size: 0.9rem;
  color: #555;
}

.fund-center i {
  color: black;
  padding-right: 0.6rem;
}

.fund-center a:nth-child(1) {
  margin-bottom: 0.5rem;
}

.fund-art>p {
  background-color: rgb(255, 250, 248);
  padding: 1rem;
  border-top: 1px solid rgb(255, 206, 197);
  color: #555;
  font-size: 0.8rem;
}

.fund-art>p>span {
  color: #aaa;
}

/*
  ========================================
  Hard Fork and other sections
  ========================================
*/

.hard-fork-img1 {
  background: url(images/hard-fork-img1.jpg) no-repeat;
}

.hard-fork-img2 {
  background: url(images/hard-fork-img2.jpg) no-repeat;
}

.hard-fork-img3 {
  background: url(images/hard-fork-img3.jpg) no-repeat;
}

.hard-fork-img4 {
  background: url(images/hard-fork-img4.jpg) no-repeat;
}

.hard-fork-img5 {
  background: url(images/hard-fork-img5.png) no-repeat;
}

.hard-fork-img6 {
  background: url(images/hard-fork-img6.png) no-repeat;
}

.hard-fork-img7 {
  background: url(images/hard-fork-img7.png) no-repeat;
}

.hard-fork-img8 {
  background: url(images/hard-fork-img8.png) no-repeat;
}

.hard-fork-article {
  width: 95%;
  height: 0;
  margin: 0 auto;
  padding-bottom: 60%;
  color: #fff;
  font-weight: 700;
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.hard-fork-footer {
  width: 95%;
  margin: 0.1rem auto;
  justify-content: space-between;
}

.hard-fork-title {
  padding: 0.8rem 0.9rem 0;
  background-color: rgb(255, 236, 232);
  color: #f00;
  flex-direction: column;
  font-size: 0.9rem;
  flex-grow: 1;
}

.hard-fork-title p:nth-child(2) {
  font-weight: 700;
}

.hard-fork-thumbnail {
  min-width: 96px;
  height: 96px;
}

.hf-img {
  background: url(images/hard-fork-img1.jpg) no-repeat;
  background-size: cover;
}

.hard-fork ul {
  width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  color: #f00;
  list-style: none;
}

.hard-fork li::before {
  content: "\2022";
  color: #f00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hard-fork li {
  color: #555;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}

/*
  ========================================
  Latest Deals
  ========================================
*/

.latest-deals-title {
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
}

.latest-deals-title p {
  margin: 2em 0.8em 0.9em 0.8em;
  color: #f00;
  font-size: 14px;
  min-width: 6rem;
}

.latest-text span {
  text-decoration-line: line-through;
  font-size: 10px;
  padding-right: 1em;
  color: #aaa;
}




/*
  ========================================
  Footer
  ========================================
*/







/*
  ========================================
  Media Queries
  ========================================
*/