/*
  ========================================
  CSS Reset
  ========================================
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100%;
}
.flex {
  display: flex;
}
/*
  ========================================
  Navbar
  ========================================
*/
nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
}

nav img {
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 16px 20px;
  height: 48px;
  width: 106px;
  float: left;
}

.nav-icons {
  float: right;
}

.nav-icons .fa-search {
  padding: 16px;
  color: rgb(189, 189, 189);
  border-left: 0.5px solid rgb(236, 236, 236);
  border-right: 0.5px solid rgb(236, 236, 236);
}

.nav-icons .fa-bars {
  padding: 16px;
  margin-right: 5px;
  color: rgb(255, 68, 35);
}

nav h4 {
  width: 100%;
  clear: both;
  background-color: rgb(255, 221, 68);
  text-align: center;
  font-weight: 100;
  font-size: 0.9rem;
  padding: 25px;
}

/*
  ========================================
  Main
  ========================================
*/

.main-section {
  height: 30%;
  padding-top: 80px;
}

.gray-gradient {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .05) url(./images/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.content-main-article {
  padding-left: 2%;
  position: absolute;
  bottom: 12px;
  z-index: 3;
}

.main-article {
  width: 97%;
  height: 0;
  margin: 0 auto 0.8em;
  padding-bottom: 30%;
  color: #fff;
  font-weight: 700;
  position: relative;
}

.main-article p {
  text-overflow: clip;
  font-weight: 400;
  font-size: 14px;
}

.author {
  font-weight: 100;
  color: #FFFFFF99;
  font-size: 12px;
}
.article1 {
  background: url(images/article1.png) no-repeat;
  background-size: cover;
  background-position: 50%;
}
.article2 {
  background: url(images/article2.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
}
.article3 {
  background: url(images/article3.png) no-repeat;
  background-size: cover;
  background-position: 50%;
}

/*
  ========================================
  Main
  ========================================
*/
.latest-news {
  margin: 2em 0 2em 0.8em;
}
.latest-news * {
  font-size: 28px;
  font-weight: 700;
  color: #ff0000;
  text-decoration: none;

}
.latest-articles {
  margin: 4% 0;
}
.latest-news i {
  vertical-align: bottom;
}
.news-images {
  height: 75px;
  min-width: 75px;
  background-size: cover;
  background-position: 50%;
  margin-left: 0.8em
  
}
.news-title {
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  gap: 1em;
  margin-left: 4%;
}

.news-title p:nth-child(2) {
  font-weight: 500;
  font-size: 10px;
  color: #555555;
}

.img1 {
  background: url(images/img1.png) no-repeat;
}

.img2 {
  background: url(images/img2.jpeg) no-repeat;
}

.img3 {
  background: url(images/img3.jpeg) no-repeat;
}

.img4 {
  background: url(images/img4.jpg) no-repeat;
}
.img5 {
  background: url(images/img5.png) no-repeat;
}

.img6 {
  background: url(images/img6.png) no-repeat;
}

.img7 {
  background: url(images/img7.png) no-repeat;
}

.img8 {
  background: url(images/img8.jpg) no-repeat;
}

/*
  ========================================
  
  ========================================
*/

.fund *{
  font-size: 28px;
  font-weight: 700;
  color: #ff0000;
  text-decoration: none;
  list-style-type: none;
}
.fund {
  margin-left: 0.8em;
  
}
.fund i {
  vertical-align: bottom;
}

.fund-links a{
  font-weight: 400;
  font-size: 14px;
}